<div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review">

  <span class="attribution">
    <%= Spree.t('submitted_on') %> 
    <strong itemprop="datePublished">
      <%= l review.created_at.localtime, :format => :short %>
    </strong>
  </span>
  <span itemprop="author"><%= review.user.email %></span>
  <div itemprop="rating">
    <%= show_rate review.rating %>
  </div>
  <div itemprop="title">
    <%= review.title %>
  </div>
  <div itemprop="comment">
    <%= review.comment %>
  </div>

  <%= link_to Spree.t(:upvote), like_review_path(review), method: :put %>
  <%= "#{review.liked_count} x #{review.disliked_count}"%>
  <%= link_to Spree.t(:downvote), dislike_review_path(review), method: :put %>

</div>