<div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review">

  <span class="attribution">
    <%= t('submitted_on') %> 
    <strong itemprop="datePublished">
      <%= l review.created_at.localtime, :format => :short %>
    </strong>
  </span>
  <span itemprop="author"><%= review.user.email %></span>
  <div itemprop="rating">
    <%= show_rate review.rating %>
  </div>
  <div itemprop="title">
    <%= review.title %>
  </div>
  <div itemprop="comment">
    <%= review.comment %>
  </div>
</div>